[submodule "api/src"]
	path = api/src
	url = git@github.com:LastZactionHero/bloom_api.git
[submodule "search/src"]
	path = search/src
	url = git@github.com:LastZactionHero/bloom-search.git
[submodule "api_user/src"]
	path = api_user/src
	url = git@github.com:LastZactionHero/bloom-api-user.git
[submodule "app/src"]
	path = app/src
	url = git@github.com:LastZactionHero/bloom-app.git
